@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #FDFDFD;
}

.color-2E8FA4 {
  color: #2E8FA4;
}

.color-C8453C {
  color: #C8453C;
}

.color-003B5C {
  color: #003B5C;
}

.color-000000 {
  color: #000000;
}

.page-width {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.footer-wrapper {
  background-color: #000000;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.footer-wrapper .footer-top {
  padding-top: 121px;
}

.footer-wrapper .footer-top .footer-main {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper .footer-top .footer-main .footer-left {
  display: flex;
  gap: 50px;
}

.footer-wrapper .footer-top .footer-main .footer-left .footer-col h4 {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  padding-bottom: 40px;
  color: #FDFDFD;
}

.footer-wrapper .footer-top .footer-main .footer-left .footer-col ul li {
  margin-bottom: 16px;
}

.footer-wrapper .footer-top .footer-main .footer-left .footer-col ul li a {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: white;
  transition: all .5s ease-in-out;
}

.footer-wrapper .footer-top .footer-main .footer-left .footer-col ul li .icon-list {
  color: white;
  display: flex;
  gap: 10px;
}

.footer-wrapper .footer-top .footer-main .footer-right {
  max-width: 468px;
  width: 100%;
}

.footer-wrapper .footer-top .footer-main .footer-right .footer-news-title p {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: white;
  padding-bottom: 31px
}

.field {
  position: relative;
  width: 100%;
  display: flex;
}

.footer-wrapper .footer-top .footer-main .footer-right .field .field__input {
  font-family: Helvetica;
  background: transparent;
  width: 100%;
  border: 1px solid #2E8FA4;
  border-radius: 15px;
  min-height: 74px;
  color: white;
  font-size: 20px;
  padding: 15px;
}

.footer-wrapper .footer-top .footer-main .footer-right .field .field__button {
  align-items: center;
  display: flex;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 4.4rem;
  justify-content: center;
  padding: 0;
  position: absolute;
  width: 4.4rem;
}

.footer-wrapper .footer-top .footer-main .footer-right .footer-newsletter-box .field-wrapper .field .field__button .svg-wrapper {
  background: #C8453C;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-in-out;
}

.newsletter-form__button {
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.footer-wrapper .footer-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 78px;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--color-FFFFFF);
  transition: 0.3s ease;
}

.footer-wrapper .footer-middle .footer-social a img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: all .5s ease-in-out;
}


.footer-wrapper .footer-middle .footer-social a {
  display: inline-block;
}

.footer-wrapper .footer-middle .footer-social a img:hover {
  border: 1px solid #C8453C;
  transform: scale(.9);
}

